:root {
    --light-green: hsl(171,100%,41%);    
}

#poem-text {
    overflow: auto;
    height: 290px;
    /* width: 600px; */
}

#search-results {
    overflow: auto;
    height: 520px;
    /* width: 600px; */
}

#italic{
    font-style: italic;
    font-size: medium;
    color: var(--light-green);
    /* color: hsl(171,100%,41%); */

}

.search-hover :hover {
    background-color: var(--light-green);
}

.poem-select ::selection {
    background-color: var(--light-green);
}