:root {
    --light-green: hsl(171,100%,41%);    
}

#poem-text {
    overflow: auto;
    height: 290px;
}

#search-results {
    overflow: auto;
    height: 520px;
}

#italic{
    font-style: italic;
    font-size: medium;
    color: var(--light-green);
}

.search-hover :hover {
    background-color: var(--light-green);
    cursor: pointer;
}

.poem-select ::selection {
    background-color: var(--light-green);
}

.word-hover :hover {
    background-color: var(--light-green);
    cursor: pointer;
}

#word-list {
    overflow: auto;
    height: 150px;
}